<div class="card">
    <div class="card-body">
        <h3>Fazer Login</h3>
        <hr>
        <form action="/usuarios/login" method="post">
            <div class="form-group row">
                <label class="col-md-2 text-center my-auto" for="email">Email</label>
                <input class="form-control col-md-6" type="email" name="email" id="email" placeholder="Email">
            </div>
            <div class="form-group row">
                <label class="col-md-2 text-center my-auto" for="senha">Senha</label>
                <input class="form-control col-md-6" type="password" name="senha" id="senha" placeholder="********">
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-success ">Entrar</button>
            </div>
        </form>
    </div>
</div>