<div class="card">
    <div class="card-body">
        <h2>Categorias: </h2>
        {{#each cats}}
            <a href="/categorias/{{slug}}"><h5>{{nome}}</h5></a>
        {{else}}
            <p>Nenhuma Categoria encontrada</p>
        {{/each}}
    </div>
</div>